<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.analysis.mapper.BpipUnitMapper" >
  <resultMap id="BaseResultMap" type="com.analysis.model.BpipUnit" >
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="UNITNAME" property="unitname" jdbcType="VARCHAR" />
    <result column="LONGNAME" property="longname" jdbcType="VARCHAR" />
    <result column="SHORTNAME" property="shortname" jdbcType="VARCHAR" />
    <result column="UNITTYPE" property="unittype" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="INPUTPSN" property="inputpsn" jdbcType="VARCHAR" />
    <result column="INPUTTIME" property="inputtime" jdbcType="DATE" />
    <result column="MODIFIEDPSN" property="modifiedpsn" jdbcType="VARCHAR" />
    <result column="MODIFIEDTIME" property="modifiedtime" jdbcType="DATE" />
    <result column="DISTRICTTIME" property="districttime" jdbcType="DATE" />
    <result column="PROVINCETIME" property="provincetime" jdbcType="DATE" />
    <result column="TAG" property="tag" jdbcType="VARCHAR" />
    <result column="MODIFIEDTAG" property="modifiedtag" jdbcType="VARCHAR" />
    <result column="DELETAG" property="deletag" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
    <result column="LYDS" property="lyds" jdbcType="VARCHAR" />
    <result column="HCK_RKSJ" property="hckRksj" jdbcType="DATE" />
    <result column="HCK_GXSJ" property="hckGxsj" jdbcType="DATE" />
  </resultMap>
  <insert id="insert" parameterType="com.analysis.model.BpipUnit" >
    insert into BPIP_UNIT (UNITID, UNITNAME, LONGNAME, 
      SHORTNAME, UNITTYPE, ADDRESS, 
      PHONE, FAX, POSTALCODE, 
      STATE, INPUTPSN, INPUTTIME, 
      MODIFIEDPSN, MODIFIEDTIME, DISTRICTTIME, 
      PROVINCETIME, TAG, MODIFIEDTAG, 
      DELETAG, LONGITUDE, LATITUDE, 
      LYDS, HCK_RKSJ, HCK_GXSJ)
    values (#{unitid,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}, #{longname,jdbcType=VARCHAR}, 
      #{shortname,jdbcType=VARCHAR}, #{unittype,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{inputpsn,jdbcType=VARCHAR}, #{inputtime,jdbcType=DATE}, 
      #{modifiedpsn,jdbcType=VARCHAR}, #{modifiedtime,jdbcType=DATE}, #{districttime,jdbcType=DATE}, 
      #{provincetime,jdbcType=DATE}, #{tag,jdbcType=VARCHAR}, #{modifiedtag,jdbcType=VARCHAR}, 
      #{deletag,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{lyds,jdbcType=VARCHAR}, #{hckRksj,jdbcType=DATE}, #{hckGxsj,jdbcType=DATE})
  </insert>

    <sql id="Base_Column_List" >
        UNITID, UNITNAME, LONGNAME,
        SHORTNAME, UNITTYPE, ADDRESS,
        PHONE, FAX, POSTALCODE,
        STATE, INPUTPSN, INPUTTIME,
        MODIFIEDPSN, MODIFIEDTIME, DISTRICTTIME,
        PROVINCETIME, TAG, MODIFIEDTAG,
        DELETAG, LONGITUDE, LATITUDE,
        LYDS, HCK_RKSJ, HCK_GXSJ
    </sql>

  <insert id="insertSelective" parameterType="com.analysis.model.BpipUnit" >
    insert into BPIP_UNIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitid != null" >
        UNITID,
      </if>
      <if test="unitname != null" >
        UNITNAME,
      </if>
      <if test="longname != null" >
        LONGNAME,
      </if>
      <if test="shortname != null" >
        SHORTNAME,
      </if>
      <if test="unittype != null" >
        UNITTYPE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="postalcode != null" >
        POSTALCODE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="inputpsn != null" >
        INPUTPSN,
      </if>
      <if test="inputtime != null" >
        INPUTTIME,
      </if>
      <if test="modifiedpsn != null" >
        MODIFIEDPSN,
      </if>
      <if test="modifiedtime != null" >
        MODIFIEDTIME,
      </if>
      <if test="districttime != null" >
        DISTRICTTIME,
      </if>
      <if test="provincetime != null" >
        PROVINCETIME,
      </if>
      <if test="tag != null" >
        TAG,
      </if>
      <if test="modifiedtag != null" >
        MODIFIEDTAG,
      </if>
      <if test="deletag != null" >
        DELETAG,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="lyds != null" >
        LYDS,
      </if>
      <if test="hckRksj != null" >
        HCK_RKSJ,
      </if>
      <if test="hckGxsj != null" >
        HCK_GXSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitid != null" >
        #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="longname != null" >
        #{longname,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null" >
        #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="unittype != null" >
        #{unittype,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="inputpsn != null" >
        #{inputpsn,jdbcType=VARCHAR},
      </if>
      <if test="inputtime != null" >
        #{inputtime,jdbcType=DATE},
      </if>
      <if test="modifiedpsn != null" >
        #{modifiedpsn,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=DATE},
      </if>
      <if test="districttime != null" >
        #{districttime,jdbcType=DATE},
      </if>
      <if test="provincetime != null" >
        #{provincetime,jdbcType=DATE},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtag != null" >
        #{modifiedtag,jdbcType=VARCHAR},
      </if>
      <if test="deletag != null" >
        #{deletag,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="lyds != null" >
        #{lyds,jdbcType=VARCHAR},
      </if>
      <if test="hckRksj != null" >
        #{hckRksj,jdbcType=DATE},
      </if>
      <if test="hckGxsj != null" >
        #{hckGxsj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>